APP_SECRET=csereld-le-egy-hosszu-veletlen-szovegre
APP_TIMEZONE=Europe/Budapest
IMPORT_SEED_EXCEL=1
ADMIN_LOGIN=admin
ADMIN_PASSWORD=
DEFAULT_USER_PASSWORD=
SEED_USER_LOGIN=
SEED_USER_DISPLAY_NAME=Importált felhasználó
SEED_USER_PASSWORD=
